@model IEnumerable<MorningBank.Loan>

@{
    ViewBag.Title = "Approve";
}

<h2>Approve</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoanName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanAmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Approve", "ApproveLoan", new { controller = "Loan", action = "ApproveLoan", loanid = item.LoanId })
            </td>
        </tr>
    }
    <tr>
        <td>@ViewBag.Message</td>
    </tr>
</table>
